@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #000000, #572a29, #a65831, #df9c1f, #f0f000);
}

/** Fuentes para las letras */
h1 {
  font-family: "Graduate", "cursive";
}

th{
  font-family: "Graduate", "cursive";
}
td{
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Graduate", "cursive";
}

h3 {
  font-family: "Graduate", "cursive";
}

p {
  font-family: "Montserrat", sans-serif;
}

header, a {
  font-family: "Graduate", "cursive";
}

.colorNegro {
  color: black;
}
.colorBlanco {
  color: #fff;
}
.colorAmarillo {
  color: yellow;
}

/** Se le modifica el color al sub-menu y se le aplica un color a las letras dentro del mismo */
.dropdown-menu {
  background-color: #000;
}
.dropdown-menu li a {
  color: #fff;
}
/** Efectos neo al posicionarse sobre el submenu de Actividades */
.dropdown-menu li:hover a {
  background: blue;
  box-shadow: 0 0 1px blue, 0 0 6px blue, 0 0 12px blue;
  color: white;
}

.bannerDetail {
  background-color: rgb(0, 0, 0,0.8);
  width: 100%;
  border-radius: 10px;
}

.bgNombre {
  background-color: #000;
  height: 100px;
}
.efecto:hover{
  transform: scale(1.03);
  transition: 0.65s;
  box-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 15px #fff;
}
.disposicionError {
  position: relative;
  top: 300px;
  height: 50vh;
}


.bannerFooter {
  background-color: black;
}

.backgroundForm {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  border-radius: 10px;
}

.backgroundCart {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  width: 100%;
  height: none;
}
.altoHeader{
  height: 20vh;
}
.encabezado{
  min-width: 90vw;
}
@media only screen and (max-width: 599px) {
  .bgExterno {
    height: auto;
  }
  .bgNombre {
    height: auto;
  }
}
.bannerHeader {
  background-color: #000;
  width: 100vw;
}
.bgNegro {
  background-color: #000;
  color:#fff;
}
.bgNegro:hover {
  background-color: #fff;
  color: #000;
}