@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #000000, #572a29, #a65831, #df9c1f, #f0f000);
}

/** Fuentes para las letras */
h1 {
  font-family: "Graduate", "cursive";
}
th{
  font-family: "Graduate", "cursive";
}
td{
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Graduate", "cursive";
}
h3 {
  font-family: "Graduate", "cursive";
}
p {
  font-family: "Montserrat", sans-serif;
}
header, a {
  font-family: "Graduate", "cursive";
}

.colorNegro {
  color: black;
}
.colorBlanco {
  color: #fff;
}

.bgNombre {
  background-color: #000;
  height: 100px;
}

.backgroundForm {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  border-radius: 10px;
}

.encabezado{
  min-width: 90vw;
}


.bgNegro {
  background-color: #000;
  color:#fff;
}

.bgNegro:hover {
  background-color: #fff;
  color: #000;
}

.seccionPublicidad {
  background-image: url(/public/images/bannerPublicidad.png);
  background-size: cover;
  background-position: center;
}

.bgContacto {
  background-image: url(/public/images/bannerContacto.png);
  background-size: cover;
  background-position: center;
}

.mensaje {
  height: 100px;
}

.redesSociales a {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #fff;
  background-color: #000;
  border-radius: 2rem;
  margin: 1rem;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

@media only screen and (min-width: 1024px) {
  .efecto:hover{
    transform: scale(1.03);
    transition: 0.65s;
    box-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 15px #fff;
  }

  .redesSociales:hover a:hover i {
    transition: all 0.65s;
    transform: rotateY(360deg);
  }
  .instagram:hover {
    background-color: rgb(255, 11, 182);
    transform: translateY(-4.8px) scale(1.05);
    color: #000;
  }
  
  .redesSociales:hover a:hover i {
    transition: all 0.65s;
    transform: rotateY(360deg);
  }
  .facebook:hover {
    background-color: rgba(8, 63, 243);
    transform: translateY(-4.8px) scale(1.05);
    color: #000;
  }
  
  .redesSociales:hover a:hover i {
    transition: all 0.65s;
    transform: rotateY(360deg);
  }
  .whatsapp:hover {
    background-color: rgba(34, 119, 0);
    transform: translateY(-4.8px) scale(1.05);
    color: #000;
  }
}

@media only screen and (max-width: 599px) {
  .bgNombre {
    height: auto;
  }
}